[Desktop Entry]
Name=Package Manager
Comment=Manage APT and Snap packages on Ubuntu
GenericName=Package Manager
Exec=package-manager
Icon=${SNAP}/meta/gui/package-manager.png
Terminal=false
Type=Application
Categories=System;PackageManager;
StartupNotify=true
Keywords=Ubuntu;Package;Manager;apt;deb;snap;AppImage;
